@model ImgSpot.Client.Models.UserModel
<h1>Select A Picture You Would Like to Upload</h1>
</br>

 <form action="/user" method="post">
  @Html.AntiForgeryToken()

  <legend>First Name</legend>
  @Html.ValidationMessageFor(n => n.Fname)
  <input type="text" class=".col-form-label-sm py-2 mt-2" id="fname" name="Fname" asp-for="Fname">
  </br>
  <legend>Last Name</legend>
  @Html.ValidationMessageFor(n => n.Lname)
  <input type="text" class=".col-form-label-sm py-2 mt-2" id="lname" name="Lname" asp-for="Lname">

  </br>

  @Html.ValidationMessageFor(f => f.File)
  <input type="file" class=".col-form-label-sm py-2 mt-2" id="File" name="File" asp-for="File" accept="image/*" onchange="showPreview(event);">
  <div class="preview rounded mx-auto d-block">
    <img src="http://placekitten.com/200/300" alt="Preview Image" id="imagePreview">
  </div>

  </br>

  <legend>Comment</legend>
  @Html.ValidationMessageFor(c => c.Comment)
  <input type="text" class=".col-form-label-sm py-2 mt-2" id="Comment" name="Comment" asp-for="Comment">

  </br>
  </br>
  <input type="submit" class="btn btn-primary" id="submit" value="Submit">
</form>